@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: Poppins;
    margin: 0;
    background-color: #fff;
    color: #000;
    display: block;
    user-select: none;
}
.logo{
    display: flex;
}
.logo img{
    width: 50px;
    max-height: 100%;
    cursor: pointer;
}

header .nav{
    display: flex;
    justify-content: center;
}


.nav ul li{
    list-style-type: none;
    border-bottom: 1px solid transparent;
    font-size: 16px;
    font-weight: 500;
    
}

.nav ul li:hover{
    border-bottom: 1px solid #000;
    cursor: pointer;
    transition: 0.5s;
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu i{
    font-size: 24px;
    color: #000;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 94vh;
    background: rgb(204,204,204);
    background: linear-gradient(0deg, rgba(204,204,204,1) 10%, rgba(255,255,255,1) 40%);
}

.content{
    width: 90%;
    height: 100%;

}

.text_content{
    width: 40%;
    margin-top: 50px;
}

.image_content img{
    width: 100%;
    max-height: 100%;
}

.image_content {
    width: 700px;
}

.text_content h3{
    border-bottom: 1px solid #000000;
    font-size: 1.7vh;
    font-weight: 600;
    max-width: 130px;
}

.text_content h2{
    font-size: 3vh;
    font-weight: 700;
}

.text_content p{
    font-size: 1.5vh;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical; 
}

.text_content button{
    background-color: rgb(0, 110, 255);
    color: #fff;
    border: none;
    text-wrap: nowrap;
    padding: 8px 40px;
    border-radius: 20px;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
}

.buttons label {
    border: 1px solid #000;
    padding: 5px 40px;
    text-wrap: nowrap;
    border-radius: 20px;
    color: #000;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
}

.buttons label:hover{
    background-color: #000;
    color: #fff;
    transition: 0.5s;
}

.buttons button:hover{
    background-color: #000;
    color: #fff;
    transition: 0.5s;
}

.buttons{
    display: flex;
    gap: 40px;
}

.text_content h1{
    font-size: 50px;
    letter-spacing: 50px;
    font-weight: 700;
}

.content_2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text_h1_content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
}

.text_h1_content h1{
    font-size: 5vh;
    word-wrap: break-word;
    font-weight: 700;
    letter-spacing: 40px;
}

.footer{
    background-color: #ccc;
    color: #fff;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer p{
    margin: 0;
    text-shadow: 4px 4px 18px rgba(0,0,0,0.6);
}

.footer a{
    color: #000;
    text-decoration: none;
    text-shadow: 4px 4px 18px rgba(0,0,0,0.6);
}

.footer{
    font-size: 15px;
    font-weight: 300;
}

.footer a:hover{
    color: #fff;
}